<a href="https://colab.research.google.com/github/soujanya-vattikolla/Data-Analysis-for-Python/blob/main/Pandas%20exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas**

In [2]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.3.5

**Pandas Series exercises**

In [3]:
# defining a series

population_series = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
population_series

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [4]:
# Given the X python list convert it to an Y pandas Series

X_pythonlst = ['A', 'B', 'C']
print(X_pythonlst,type(X_pythonlst))

Y_series = pd.Series(X_pythonlst)
print(Y_series,type(Y_series))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

Series indexation

In [5]:
# Assign index names to the given X pandas Series

X_series = pd.Series(['A','B','C'])
index_names = ['First','Second','Third']

X_series.index = index_names
X_series

First     A
Second    B
Third     C
dtype: object

In [10]:
# Given the X pandas Series, show its first element

X_first = pd.Series(['A','B','C'], index=['One','Two','Three'])

print(X_first['One'])

print(X_first.iloc[0])

A
A

In [12]:
# Given the X pandas Series, show all middle elements

X_middle = pd.Series(['A','B','C'], index=['One','Two','Three'])

print(X_middle['Two'])

B

**Series manipulation**

In [14]:
# Convert the given integer pandas Series to float

X_float = pd.Series([1,2,3,4,5],dtype=float)

X_float

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [16]:
# Given the X pandas Series, change all the middle elements to 0

X_middle = pd.Series([1,2,3,4,5],index=['First','Second','Third','Fourth','Fifth'])
X_middle[1:-1] = 0
X_middle

First     1
Second    0
Third     0
Fourth    0
Fifth     5
dtype: int64

In [17]:
# Given the X pandas Series, get numbers higher than the elements mean

X_high = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X_high > X_high.mean()
mask

0    False
1     True
2    False
3    False
4     True
5     True
6    False
7    False
8    False
9     True
dtype: bool